@using PagedList.Mvc;
@model PagedList.IPagedList<Sunny_House.Models.Exercise>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />

<style type="text/css">
    span.payfilterlabel {
        white-space: nowrap;
        margin-right: 20px;
        margin-top: 6px;
        display: inline-block;
    }

    span.label {
        padding: 4px 8px;
        font-size: +10pt;
    }
</style>

@{
    ViewBag.Title = "Занятия - Список занятий";

    string ReturnParam = "/Exercises/ExShow?FilterMode=" + Request.QueryString["FilterMode"];
    ReturnParam += "&SearchStartDate=" + Request.QueryString["SearchStartDate"];
    ReturnParam += "&SearchEndDate=" + Request.QueryString["SearchEndDate"];
    ReturnParam += "&SearchString=" + Request.QueryString["SearchString"];
    ReturnParam += "&page=" + Request.QueryString["page"];
}

<h2><i class="fa fa-bell"></i> Занятия</h2>

<div class="row">
    <div class="col-md-6" id="resultMessage" style="display:block; height:30px;">
        <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
        <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
    </div>
</div>

<label id="SortColumn" hidden>@ViewData["SortColumn"]</label>

@using (Html.BeginForm("ExShow", "Exercises", FormMethod.Get, new { @id = "ExForm" }))
{
    <div class="row">
        <div class="col-lg-4 col-md-4">
            @if (Request.QueryString["FilterMode"] == "Current" || String.IsNullOrEmpty(Request.QueryString["FilterMode"]))
            {
                <p class="text-info"><strong>Режим отображения: ДЕЙСТВУЮЩИЕ</strong></p>
            }
            @if (Request.QueryString["FilterMode"] == "Archive")
            {
                <p class="text-info"><strong>Режим отображения: АРХИВНЫЕ</strong></p>
            }
            @if (Request.QueryString["FilterMode"] == "All")
            {
                <p class="text-info"><strong>Режим отображения: ВСЕ</strong></p>
            }

            @Html.RadioButton("FilterMode", "Current", true, new { id = "rb1" }) <label for="rb1">Действующие</label>@Html.Raw("&nbsp;")
            @Html.RadioButton("FilterMode", "Archive", new { id = "rb2" }) <label for="rb2"> Архив</label>@Html.Raw("&nbsp;")
            @Html.RadioButton("FilterMode", "All", new { id = "rb3" }) <label for="rb3"> Все</label>

        </div>
        <div class="col-lg-7 col-lg-offset-1 col-md-8">
            <br />
            <div class="input-group" style="width:510px;">
                <span class="input-group-addon">с</span>
                @Html.TextBox("SearchStartDate", null,
                new
                {
                    @style = "width:110px;",
                    @type = "text",
                    @class = "form-control ",
                    @placeholder = "Начало",
                    @title = "Дата начала занятия",
                    @data_val = "true",
                    @data_val_date = "Сообщение об ошибке"
                })
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">до</span>

                @Html.TextBox("SearchEndDate", null,
                new
                {
                    @style = "width:110px;",
                    @type = "text",
                    @class = "form-control ",
                    @placeholder = "Окончание",
                    @title = "Дата окончания занятия",
                    @data_val = "true",
                    @data_val_date = "Сообщение об ошибке"
                })
                <span class="input-group-addon" style="border-left: 0; border-right: 0;"><span class="glyphicon glyphicon-filter"></span></span>

                @Html.TextBox("SearchString", null,
                new
                {
                    @style = "width:210px;",
                    @type = "text",
                    @class = "form-control ",
                    @placeholder = "Тема, примечание...",
                    @title = "Тема занятия, название мероприятия, примечание",
                })

                @Html.Hidden("EventId", ViewData["EventId"])
                @Html.Hidden("ExerciseId")
                @Html.Hidden("StartTime")
                @Html.Hidden("EndTime")


                <div class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar groupbtn" id="applyfilter">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <hr />

    <p>
        <a class="btn btn-default" style="margin:2px 2px;" title="Добавить занятие" href='@Url.Action("ExCreate", "Exercises", new { @PersonId = Request.Params["PersonId"]})'><i class="fa fa-plus-circle"></i> Добавить занятие</a>
        <a class="btn btn-default" style="margin:2px 2px;" title="Обновить" href='@Url.Action("ExShow", "Exercises")'><span class="glyphicon glyphicon-refresh"></span></a>
    </p>
}

<div style="margin:0" class="row">
    @if (Request.QueryString["ExerciseId"] != null && !string.IsNullOrEmpty(ViewBag.Subject))
    {
        <span class="text-info payfilterlabel"><span class="label label-success">Занятие:</span> @ViewBag.Subject</span>
    }

    @if (Request.QueryString["EventId"] != null && !string.IsNullOrEmpty(ViewBag.EventName))
    {
        <span class="text-info payfilterlabel"><span class="label label-success">Мероприятие:</span> "@ViewBag.EventName"</span>
    }

    @if (Request.QueryString["StartTime"] != null && !string.IsNullOrEmpty(ViewBag.StartDateText))
    {
        <span class="text-info payfilterlabel"><span class="label label-success">Начало периода:</span> @ViewBag.StartDateText</span>
    }

    @if (Request.QueryString["EndTime"] != null && !string.IsNullOrEmpty(ViewBag.EndDateText))
    {
        <span class="text-info payfilterlabel"><span class="label label-success">Окончание периода:</span> @ViewBag.EndDateText</span>
    }

</div>

<table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
    <tr>
        <th>
            @Html.ActionLink("Тема", "ExShow",
                new
                {
                    FilterMode = Request.QueryString["FilterMode"],
                    SearchStartDate = Request.QueryString["SearchStartDate"],
                    SearchEndDate = Request.QueryString["SearchEndDate"],
                    SearchString = Request["SearchString"],
                    EventId = Request.QueryString["EventId"],
                    ExerciseId = Request.QueryString["ExerciseId"],
                    ReturnUrl = ViewData["ReturnUrl"],
                    SortBy = ViewBag.SortSubject
                },
                    new { @id = "Subject" })@Html.Raw("&nbsp;")<i id="SubjectArrow"></i>
                </th>
                <th>
                    @Html.ActionLink("Мероприятие", "ExShow",
                new
                {
                    FilterMode = Request.QueryString["FilterMode"],
                    SearchStartDate = Request.QueryString["SearchStartDate"],
                    SearchEndDate = Request.QueryString["SearchEndDate"],
                    SearchString = Request["SearchString"],
                    EventId = Request.QueryString["EventId"],
                    ExerciseId = Request.QueryString["ExerciseId"],
                    ReturnUrl = ViewData["ReturnUrl"],
                    SortBy = ViewBag.SortEventName
                },
                    new { @id = "EventName" })@Html.Raw("&nbsp;")<i id="EventNameArrow"></i>
                </th>
                <th style="min-width:9em;">
                    @Html.ActionLink("Начало", "ExShow",
                new
                {
                    FilterMode = Request.QueryString["FilterMode"],
                    SearchStartDate = Request.QueryString["SearchStartDate"],
                    SearchEndDate = Request.QueryString["SearchEndDate"],
                    SearchString = Request["SearchString"],
                    EventId = Request.QueryString["EventId"],
                    ExerciseId = Request.QueryString["ExerciseId"],
                    ReturnUrl = ViewData["ReturnUrl"],
                    SortBy = ViewBag.SortStartTime
                },
                    new { @id = "StartTime" })@Html.Raw("&nbsp;")<i id="StartTimeArrow"></i>
                </th>
                <th style="min-width:9em;">
                    @Html.ActionLink("Окончание", "ExShow",
                new
                {
                    FilterMode = Request.QueryString["FilterMode"],
                    SearchStartDate = Request.QueryString["SearchStartDate"],
                    SearchEndDate = Request.QueryString["SearchEndDate"],
                    SearchString = Request["SearchString"],
                    EventId = Request.QueryString["EventId"],
                    ExerciseId = Request.QueryString["ExerciseId"],
                    ReturnUrl = ViewData["ReturnUrl"],
                    SortBy = ViewBag.SortEndTime
                },
                    new { @id = "EndTime" })@Html.Raw("&nbsp;")<i id="EndTimeArrow"></i>
                </th>
                <th style="min-width:9em;">
                    <label>Место</label>
                </th>
                <th style="min-width:20em;">
                    @Html.DisplayNameFor(model => model.First().Note)
                </th>
                <th style="min-width:9.2em; width:9.2em;"></th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="7">
                        <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td class="autofilter" data-exid="@item.ExerciseId" data-exname="@item.Subject" data-fparam="subj">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td class="autofilter" data-eventid="@item.Event.EventId" data-eventname="@item.Event.EventName" data-fparam="event">
                        @Html.ActionLink(item.Event.EventName, "ResShowOfEvent", "Reserves", new { EventId = item.EventId }, new { target = "_self" })
                    </td>
                    <td style="text-align:center;" class="autofilter" data-starttime="@Convert.ToDateTime(item.StartTime).ToString("dd'/'MM'/'yyyy")" data-fparam="starttime">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td style="text-align:center;" class="autofilter" data-endtime="@Convert.ToDateTime(item.EndTime).ToString("dd'/'MM'/'yyyy")" data-fparam="endtime">
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @item.Address.City, @item.Address.AddressValue
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td style="text-align:center;">
                        <a class="btn btn-default btn-sm" title="Управление занятием" href='@Url.Action("ExDetails", "Exercises", new { ObjectId = item.ExerciseId, ReturnParam })'><span class="glyphicon glyphicon-info-sign"></span></a>
                        <a class="btn btn-default btn-sm" title="Редактировать" href='@Url.Action("ExEdit", "Exercises", new { ObjectId = item.ExerciseId, ReturnParam })'><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-default btn-sm" title="Удалить" href='@Url.Action("ExDelete", "Exercises", new { ObjectId = item.ExerciseId, ReturnParam })'><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }

        </table>

        @if (Model.PageCount > 0)
        {
            @:<hr />
            @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount.
            @:Записи @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount


            @Html.PagedListPager(Model, page => Url.Action("ExShow", "Exercises",
                             new
                             {
                                 FilterMode = Request.QueryString["FilterMode"],
                                 SearchStartDate = Request.QueryString["SearchStartDate"],
                                 SearchEndDate = Request.QueryString["SearchEndDate"],
                                 SearchString = Request.QueryString["SearchString"],
                                 EventId = Request.QueryString["EventId"],
                                 ExerciseId = Request.QueryString["ExerciseId"],
                                 ReturnUrl = ViewData["ReturnUrl"],
                                 page,
                                 SortBy = Request["SortBy"]
                             }),
                         new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        }


        @if (ViewBag.ReturnUrl != null)
        {
            <div style="margin:10px 0 0 4px;">
                <a class="btn btn-default" href='@ViewBag.ReturnUrl'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
            </div>
        }

        <a href="#" class="scrollup1">Наверх</a>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
            <script src="~/Scripts/toparrow.js"></script>


            <script type="text/javascript">
                $(function () {
                    $.removeCookie('EventId');
                    $.removeCookie('EventLabel');
                    $.removeCookie('Subject');
                    $.removeCookie('StartTime');
                    $.removeCookie('EndTime');
                    $.removeCookie('Note');
                    $.removeCookie('ReturnUrl');
                });
            </script>

            <script type="text/javascript">
                $(function () {

                    // Сабмит формы при изменении переключателя (Через $('#FilterMode') работает только в одном положении)
                    $('input[name=FilterMode]').change(function () {
                        $('#ExForm').submit();
                    })

                    $('body').click(function () {
                        $('#resultMessage').fadeOut(1000,
                            function () {
                                $('#MessageOk').html('');
                                $('#MessageError').html('');
                                $('#resultMessage').fadeIn(1000)
                            });
                    });


                    $("#SearchString").focus(); // Фокус на полі фільтра при відкритті сторінки.

                    if ($('#SortColumn').text() != '') {
                        var sortcolumnname = $('#SortColumn').text();
                        var sortcontrol = $('#' + sortcolumnname);
                        if (sortcontrol != null) {
                            if (sortcontrol.attr('href').indexOf('desc') != -1) {
                                $('#' + sortcolumnname + 'Arrow').removeClass().addClass('glyphicon glyphicon-triangle-top')
                            }
                            else {
                                $('#' + sortcolumnname + 'Arrow').removeClass().addClass('glyphicon glyphicon-triangle-bottom')
                            }
                        }
                    }

                });
            </script>

            @*Блок скриптов для работы с DateTimePicker*@
            <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
            <script type="text/javascript">

                $.datetimepicker.setLocale('ru');

                // <![CDATA[
                jQuery(function () {
                    jQuery('#SearchStartDate').datetimepicker({
                        format: 'd/m/Y',
                        formatDate: 'd/m/Y',
                        onShow: function (ct) {
                            this.setOptions({
                                maxDate: jQuery('#SearchEndDate').val() ? jQuery('#SearchEndDate').val() : false
                            })
                        },
                        timepicker: false
                    });
                    jQuery('#SearchEndDate').datetimepicker({
                        format: 'd/m/Y',
                        formatDate: 'd/m/Y',
                        onShow: function (ct) {
                            this.setOptions({
                                minDate: jQuery('#SearchStartDate').val() ? jQuery('#SearchStartDate').val() : false
                            })
                        },
                        timepicker: false
                    });
                });
                // ]]>

                $.validator.methods.date = function (value, element) {
                    if (value) {
                        try {
                            $.datepicker.parseDate('dd/mm/yy', value);
                        } catch (ex) {
                            return false;
                        }
                    }
                    return true;
                };
            </script>

            <script type="text/javascript">
                //Скрипт автофильтрации
                $('body').on('dblclick', '.autofilter', function (elem) {

                    switch ($(this).data('fparam')) {
                        case 'subj':
                            $('#ExerciseId').val($(this).data('exid'));
                            //$('#pName').text($(this).data('payername'));
                            break;
                        case 'event':
                            $('#EventId').val($(this).data('eventid'));
                            //$('#cName').text($(this).data('clientname'));
                            break;
                        case 'starttime':
                            var d = $(this).data('starttime');
                            d = d.split(' ')[0];
                            $('#SearchStartDate').val(d);

                            break;
                        case 'endtime':
                            var d = $(this).data('endtime');
                            d = d.split(' ')[0];
                            $('#SearchEndDate').val(d);
                            break;
                        default:
                            return;
                    }

                    $('#ExForm').submit();
                });
            </script>

        }

