@model Sunny_House.Models.Address

@{
    ViewBag.Title = "Удаление";
}


<h2><i class="fa fa-home"></i> Адреса</h2>

<h3 class="text-danger">Вы действительно хотите удалить выбранный адрес?</h3>
<div>
    <h4>Удаление адреса</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href='@Url.Action("AdShow", "Addresses")'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
            <button type="submit" title="Удалить адрес" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Удалить</button>

        </div>
    }
</div>
