@model IEnumerable<Sunny_House.Models.Person>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
            </td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.FirstName != null)
                {
                    @Html.ActionLink(@item.FirstName, "ShowPersons", "Home", new { PersonId = @item.PersonId }, null)
                }
            </td>
            <td>
                @if (item.LastName != null)
                {
                    @Html.ActionLink(@item.LastName, "ShowPersons", "Home", new { PersonId = @item.PersonId }, null)
                }
            </td>
            <td>
                @if (item.MiddleName != null)
                {
                    @Html.ActionLink(@item.MiddleName, "ShowPersons", "Home", new { PersonId = @item.PersonId }, null)
                }
            </td>
            <td>
                @if (item.MiddleName != null)
                {
                    @Html.ActionLink(String.Format("{0:dd'/'MM'/'yyyy}", @item.DateOfBirth), "ShowPersons", "Home", new { PersonId = @item.PersonId }, null)
                }
            </td>

        </tr>
    }

</table>
