@model PagedList.IPagedList<Sunny_House.Models.Address>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<label id="SortColumn" hidden>@ViewData["SortColumn"]</label>

<table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
    <tr>
        <th>
            @Ajax.ActionLink("Псевдоним", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortAlias,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "Alias" })
            <i id="AliasArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Индекс", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortPostCode,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "PostCode" })
            <i id="PostCodeArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Страна", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortCountry,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "Country" })
            <i id="CountryArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Область", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortRegion,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "Region" })
            <i id="RegionArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Район", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortArea,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "Area" })
            <i id="AreaArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Город", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortCity,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "City" })
            <i id="CityArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th>
            @Ajax.ActionLink("Адрес", "AdShowAllPartial", new
           {
               SortBy = ViewBag.SortAddressValue,
               CitySearchString = Request["CitySearchString"],
               AddressSearchString = Request["AddressSearchString"],
           }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateAd", LoadingElementId = "loadingImg" }, new { @id = "AddressValue" })
            <i id="AddressValueArrow" class="glyphicon glyphicon-triangle-top" style="visibility:hidden"></i>
        </th>
        <th style="width:160px; min-width:160px;"></th>
    </tr>


    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8">
                <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
            </td>
        </tr>
    }


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressValue)
            </td>
            <td style="text-align:center;">
                <a class="btn btn-default btn-sm" title="Подробно" href='@Url.Action("AdDetails", "Addresses", new { id = item.AddressId})'><span class="glyphicon glyphicon-info-sign"></span></a>
                <a class="btn btn-default btn-sm" title="Редактировать" href='@Url.Action("AdEdit", "Addresses", new { id = item.AddressId })'><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-default btn-sm" title="Удалить" href='@Url.Action("AdDelete", "Addresses", new { id = item.AddressId })'><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }

</table>

@if (Model.PageCount > 0)
{
    @:<hr />
    @:Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount.
    @:Записи @Model.FirstItemOnPage - @Model.LastItemOnPage из @Model.TotalItemCount


    @Html.PagedListPager(Model, page => Url.Action("AdShowAllPartial", "Addresses",
                             new
                             {
                                 CitySearchString = Request["CitySearchString"],
                                 AddressSearchString = Request["AddressSearchString"],
                                 SortBy = Request["SortBy"],
                                 page,
                             }),
                             PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded },
                             new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updateAd" }))

}