@model IEnumerable<Sunny_House.Models.Comment>

@{
    ViewBag.Title = "Отзывы";
}

<h2><i class="fa fa-commenting fa-1x"></i> @ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6" id="resultMessage" style="display:block; height:30px; cursor:pointer">
        <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
        <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
    </div>
</div>

<p>
    <a class="btn btn-default" style="margin:2px 0;" title="Добавить отзыв" href='@Url.Action("CommentCreate", "Comments", new { @PersonId = Request.Params["PersonId"] })'><span class="glyphicon glyphicon-plus"> Добавить отзыв</span></a>
    @Html.Raw("&nbsp;")
    <a class="btn btn-default" style="margin:2px 0;" title="Обновить" href='@Url.Action("CommentShow", "Comments")'><span class="glyphicon glyphicon-refresh"></span></a>
</p>

<table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
    <tr>
        <th>
            Источник
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            Подпись
        </th>
        <th style="white-space:nowrap;">
            О персоне
        </th>
        <th style="white-space:nowrap;">
            О мероприятии
        </th>
        <th style="white-space:nowrap;">
            О занятии
        </th>
        <th style="white-space:nowrap;">
            О месте
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentSource.SourceName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="overflow-wrap:break-word; max-width:300px;">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignPersonFIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutPersonFIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Alias)
            </td>
            <td style="text-align:center; width:136px; min-width:134px;">
                <a class="btn btn-default btn-sm" title="Подробная информация" href='@Url.Action("CommentDetails", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-info-sign"></span></a>
                <a class="btn btn-default btn-sm" title="Редактирование отзыва" href='@Url.Action("CommentEdit", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-default btn-sm" title="Удаление отзыва" href='@Url.Action("CommentDelete", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }

</table>

<a href="#" class="scrollup1">Наверх</a>


@section Scripts {
    <script src="~/Scripts/toparrow.js"></script>
    <script type="text/javascript">
        $('body').click(function () {
            $('#resultMessage').fadeOut(1000,
                function () {
                    $('#MessageOk').html('');
                    $('#MessageError').html('');
                    $('#resultMessage').fadeIn(1000)
                });
        });
    </script>
}
