@model Sunny_House.Models.Comment

@{
    ViewBag.Title = "Отзывы - Подробная информация";
}

<h2><i class="fa fa-commenting fa-1x"></i> Отзывы</h2>

<div>
    <h4>Подробная информация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Источник
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentSource.SourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="breakWord" style="max-width:500px; text-align:justify;">
            @Html.DisplayFor(model => model.Text)
        </dd>

        @if (Model.AttList.Count() > 0)
        {
            <dt><strong>Вложения</strong></dt>
            <dd>
                @foreach (var item in Model.AttList)
                {
                    <span style="margin-right:10px;">
                        @Html.ActionLink(item.FileName, "GetFile","Attachment", new { id = item.Id }, null)
                    </span>
                }
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            Подпись
        </dt>
        <dd>
            @if (Model.SignPersonId != 0)
            {
                @Html.ActionLink(Model.SignPersonFIO, "ShowPersons", "Home", new { PersonId = Model.SignPersonId }, new { target = "_self" })
            }
        </dd>

        <dt>
            О персоне
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)

            @if (Model.AboutPersonId != 0)
            {
                @Html.ActionLink(Model.AboutPersonFIO, "ShowPersons", "Home", new { PersonId = Model.AboutPersonId }, new { target = "_self" })
            }
        </dd>

        <dt>
            О мероприятии
        </dt>
        <dd>
            @if (Model.Event != null)
            {
                @Html.ActionLink(Model.Event.EventName, "ResShowOfEvent", "Reserves", new { EventId = Model.Event.EventId }, new { target = "_self" })
            }
        </dd>

        <dt>
            О занятии
        </dt>
        <dd>
            @if (Model.Exercise != null)
            {
                @Html.ActionLink(Model.Exercise.Subject, "ExDetails", "Exercises", new { ObjectId = Model.Exercise.ExerciseId }, new { target = "_self" })
            }
        </dd>

        <dt>
            О месте
        </dt>

        <dd>
            @if (Model.Address != null)
            {
                @Html.ActionLink(Model.Address.Alias, "AdDetails", "Addresses", new { Id = Model.Address.AddressId }, new { target = "_self" })
            }
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href='@Url.Action("CommentShow", "Comments")'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
    <a class="btn btn-default" href='@Url.Action("CommentEdit", "Comments", new { id = Model.CommentId })'><span class="glyphicon glyphicon-edit"> Редактировать</span></a>
</p>
