@model Sunny_House.Models.Comment

@{
    ViewBag.Title = "Отзывы - Добавление отзыва";
}
<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/Attachment.css" rel="stylesheet" />

<h2><i class="fa fa-commenting fa-1x"></i> Отзывы</h2>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="width:660px;"></div>
</div>

<div class="row">
    <div class="col-md-6" id="resultMessage" style="cursor:pointer">
        <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
        <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
    </div>
</div>

@using (Html.BeginForm("CommentCreate", "Comments",FormMethod.Post, new { id = "commentform"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Добавить отзыв</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RelGuid)
        @Html.Hidden("CreatorName", @Context.User.Identity.Name)

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SourceId, "Источник", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DropDownList("SourceId", null, "-- Источник отзыва --", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SourceId, "", new { @class = "text-danger", id="SourceIdVal" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "text", @class = "form-control", @data_val_date = "Проверьте правильность ввода даты (ДД/ММ/ГГГГ)" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @data_val_date = "Проверьте правильность ввода даты (ДД/ММ/ГГГГ)" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="TextLabel" class="control-label  col-sm-4">Отзыв <span id="charNum" style="font-size:0.8em;">(4000)</span></label>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = 10, @onkeyup = "DisplayCount(this);", @onchange = "DisplayCount(this);" })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Вложенные файлы", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-md-8">
                        <label class="btn btn-default btn-file">
                            <i class="glyphicon glyphicon-paperclip"></i> Добавить файл <input type="file" name="upload" id="uploadFile" hidden>
                        </label>
                        <span style="display:none; margin:0 6px;" id="floader"><img src="~/Content/Images/floader.gif" /></span>
                        <div id="attContainer" style="margin-top:10px;">
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SignPersonId, "Подпись", htmlAttributes: new { @class = "control-label text-success col-sm-4" })
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <input type="text" name="SignPersonLabel" id="SignPersonLabel" class="form-control" disabled style="margin:2px 0; display:inline-block " value="@ViewData["SignPersonFIO"]" />
                            <a class="btn btn-default pModal" style="margin:2px 0; display:inline-block " href='@Url.Action("ShowModalPersons", "Modal", new { field = "SignPersonId" })'><span class="glyphicon glyphicon-folder-open"></span></a>
                        </div>
                        @Html.HiddenFor(model => model.SignPersonId)
                        @Html.ValidationMessageFor(model => model.SignPersonId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class=" form-group">
                    @Html.LabelFor(model => model.AboutPersonId, "О персоне", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <input type="text" name="AboutPersonLabel" id="AboutPersonLabel" class="form-control" disabled style="margin:2px 0; display:inline-block " value="@ViewData["AboutPersonId"]" />
                            <a class="btn btn-default pModal" style="margin:2px 0; display:inline-block " href='@Url.Action("ShowModalPersons", "Modal", new { field = "AboutPersonId" })'><span class="glyphicon glyphicon-folder-open"></span></a>
                        </div>
                        @Html.HiddenFor(model => model.AboutPersonId)
                        @Html.ValidationMessageFor(model => model.AboutPersonId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EventId, "О мероприятии", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <input type="text" name="EventLabel" id="EventLabel" class="form-control" disabled style="margin:2px 0; display:inline-block " value="@ViewData["EventName"]" />
                            <a class="btn btn-default pModal" style="margin:2px 0; display:inline-block " href='@Url.Action("ShowModalEvents", "Modal", new { field = "EventId" })'><span class="glyphicon glyphicon-folder-open"></span></a>
                        </div>
                        @Html.HiddenFor(model => model.EventId)
                        @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExerciseId, "О занятии", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <input type="text" name="ExLabel" id="ExLabel" class="form-control" disabled style="margin:2px 0; display:inline-block " value="@ViewData["ExName"]" />
                            <a class="btn btn-default pModal" style="margin:2px 0; display:inline-block " href='@Url.Action("ShowModalExercises", "Modal", new { field = "ExerciseId" })'><span class="glyphicon glyphicon-folder-open"></span></a>
                        </div>
                        @Html.HiddenFor(model => model.ExerciseId)
                        @Html.ValidationMessageFor(model => model.ExerciseId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AddressId, "О месте", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <input type="text" name="AddressAliasLabel" id="AddressAliasLabel" class="form-control" disabled style="margin:2px 0; display:inline-block " value="@ViewData["AddressName"]" />
                            <a class="btn btn-default pModal" style="margin:2px 0; display:inline-block " href='@Url.Action("ShowModalAddresses", "Modal", new { field = "AddressId" })'><span class="glyphicon glyphicon-folder-open"></span></a>
                        </div>
                        @Html.HiddenFor(model => model.AddressId)
                        @Html.ValidationMessageFor(model => model.AddressId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" title="Добавить отзыв" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i> Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    <a class="btn btn-default" href='@Url.Action("CommentShow", "Comments")'><span class="glyphicon glyphicon-circle-arrow-left"> Список отзывов</span></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*Блок скриптов для работы с DateTimePicker*@
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".pModal").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });


        $(function () {
            $(function () {
                var widthdelta = 44;
                var wd = $("#SignPersonLabel").width() - widthdelta;
                $("#SignPersonLabel").width(wd);
                $("#AboutPersonLabel").width(wd);
                $("#EventLabel").width(wd);
                $("#ExLabel").width(wd);
                $("#AddressAliasLabel").width(wd);
            });
        });

        $.datetimepicker.setLocale('ru');

        // <![CDATA[
        jQuery(function () {
            jQuery('#Date').datetimepicker({
                format: 'd/m/Y H:i',
                formatDate: 'd/m/Y',
                timepicker: true
            });
        });
        // ]]>

        $.validator.methods.date = function (value, element) {
            if (value) {
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                } catch (ex) {
                    return false;
                }
            }
            return true;
        };

    </script>

    <script type="text/javascript">
        $('body').click(function () {
            $('#resultMessage').fadeOut(1000,
                function () {
                    $('#MessageOk').html('');
                    $('#MessageError').html('');
                    $('#resultMessage').fadeIn(1000)
                });
        });
    </script>

    <script type="text/javascript">
        //Скрипт отображения количества оставшихся символов при вводе отзыва

        $(function () {
            var MaxCount = 4000;
            var LeftCount = MaxCount - $("#Text").val().length;
            $("#charNum").text('(' + LeftCount + ')');
        });

        function DisplayCount(elem) {
            var MaxCount = 4000;
            var LeftCount = MaxCount - $(elem).val().length;
            if ($(elem).val().length > MaxCount) {
                $(elem).val($(elem).val().substr(0, MaxCount));
            } else {
                $("#charNum").text('(' + LeftCount + ')');
            }
        }
    </script>


    <script type="text/javascript">
        //Блок скриптов для работы с вложенными файлами

        //Функция удаления вложения по клику
        $(document).on('click', '.attFile', function (e) {

            $('#floader').show(10);

            var data = new FormData();
            var _attId = $(this).attr('Id')
            data.append("attId", _attId);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AttDelete", "Attachment")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {

                    $('#floader').hide(10);

                    if (result.deleted) {
                        $("#" + _attId).hide();
                    }
                    else {
                        alert(result.message);
                    }
                    //===========================================
                },
                error: function (xhr, status, p3) {
                    $('#floader').hide(10);

                    alert(xhr.responseText);
                }
            });
        });

        //Функция асинхронной отправки файла на сервер
        $(document).on('change', ':file', function (e) {


            $('#floader').show(10);

            e.preventDefault();
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    var RelGUID = "@Model.RelGuid.ToString()";
                    var MaxAttSize = parseInt(@ViewBag.MaxAttSize);

                    if (files[0].size <= MaxAttSize) {
                        data.append("file" + 0, files[0]);
                        data.append("GUID", RelGUID);

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Upload", "Attachment")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {

                                setTimeout(function () {
                                    $('#floader').hide(10);
                                }, 1000);

                                $("#uploadFile").val('');
                                var _span = "<span class='attFile' id=" + result.attId + ">";
                                var _i = " <i class='glyphicon glyphicon-remove attFileI'></i></span>";
                                $("#attContainer").append(_span + result.fileName + _i);

                            },
                            error: function (xhr, status, p3) {
                                $('#floader').hide(10);
                                alert(xhr.responseText);
                            }
                        });
                    }
                    else {
                        alert('Размер файла не должен превышать ' + MaxAttSize + ' байт!');
                        $('#floader').hide(10);
                    }
                }

                else {
                    alert("Браузер не поддерживает загрузку файлов HTML5!");
                }
            }
        });

    </script>

    <script>
        $('body').on('submit','#commentform', function (e) {
           
            if ($('#SourceId').val() == 0) {
                e.preventDefault();
                $('#SourceIdVal').html('Необходимо выбрать источник отзыва');
            }
        })
        
    </script>
}
