@model IEnumerable<Sunny_House.Models.Comment>

@{
    ViewBag.Title = "Отзывы";
}

<h2><i class="fa fa-commenting fa-1x"></i> @ViewBag.Title</h2>

<p>
    <a class="btn btn-default" style="margin:2px 2px;" title="Добавить отзыв" href='@Url.Action("CommentCreate", "Comments", new { @PersonId = Request.Params["PersonId"] })'><span class="glyphicon glyphicon-comment"> Добавить отзыв</span></a>
    @Html.Raw("&nbsp;")
    <a class="btn btn-default" title="Обновить" style="margin:2px 2px ;" href='@Url.Action("CommentShow", "Comments")'><span class="glyphicon glyphicon-refresh"></span></a>
</p>
<table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
    <tr>
        <th>
            Источник
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            Подпись
        </th>
        <th>
            О персоне
        </th>
        <th>
            О мероприятии
        </th>
        <th>
            О занятии
        </th>
        <th>
            О месте
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentSource.SourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person1.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Alias)
            </td>
            <td style="text-align:center; width:136px; min-width:134px;">
                <a class="btn btn-default btn-sm" title="Подробная информация" href='@Url.Action("CommentDetails", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-info-sign"></span></a>
                <a class="btn btn-default btn-sm" title="Редактирование отзыва" href='@Url.Action("CommentEdit", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-default btn-sm" title="Удаление отзыва" href='@Url.Action("CommentDelete", "Comments", new { id = item.CommentId })'><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }

</table>

<a href="#" class="scrollup1">Наверх</a>


@section Scripts {
    <script src="~/Scripts/toparrow.js"></script>
}
