@model IEnumerable<Sunny_House.Models.CommentSource>

@{
    ViewBag.Title = "Источники отзывов";
}

<h2>Отзывы</h2>
<h4>Источники отзывов</h4>

<div class="row">
    <div class="col-md-6">
        <p class="text-success"> @TempData["MessageOk"]</p>
        <p class="text-danger">  @TempData["MessageError"]</p>
    </div>
</div>
<p>
    <a class="btn btn-default" style="margin:2px 2px;" title="Добавить источник" href='@Url.Action("CSCreate", "Comments", new { @PersonId = Request.Params["PersonId"]})'><span class="glyphicon glyphicon-comment"> Добавить источник</span></a>
</p>

<div class="row">
    <div class="col-md-5 col-lg-4 col-sm-6 col-xs-7">

        <table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SourceName)
                </th>
                <th style="width:90px; min-width:90px;"></th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="2">
                        <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceName)
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" title="Редактировать" href='@Url.Action("CSEdit", "Comments", new { id = item.SourceId })'><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-default btn-sm" title="Удалить" href='@Url.Action("CSDelete", "Comments", new { id = item.SourceId })'><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>