@{
    ViewBag.Title = "Посещения - Список посещений";
}

<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
<style type="text/css">
    .addonbtn a {
        color: #555;
    }

    .addonbtn:hover {
        background-color: white !important;
        color: #d9534f;
        cursor: pointer;
    }
</style>


<h2><i class="fa fa-id-card-o"></i> Посещения</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="width:800px;"></div>
</div>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="resultMessage" style="cursor:pointer">
        <p class="text-success" id="MessageOk"> @TempData["MessageOk"]</p>
        <p class="text-danger" id="MessageError">  @TempData["MessageError"]</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-4">
        <a class="btn btn-default" style="margin:2px 2px; margin-bottom:6px;" title="Добавить" href='@Url.Action("VisCreate", "Visits")'><span class="glyphicon glyphicon-plus"> Добавить</span></a>
    </div>
</div>

@* Панель фильтров --------------------------------- *@
@using (Ajax.BeginForm("AllVisitsPartial", "Visits", null, new AjaxOptions { UpdateTargetId = "updateV", LoadingElementId = "loadingImg" }, new { @id = "visitform" }))
{
    <div class="panel-group" style="width:100%; min-width:770px; margin: 0 auto 10px !important;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="display:inline-block;">
                    <a data-toggle="collapse" href="#collapse1"><span class="text-info"><i id="blinkicon" class="glyphicon glyphicon-filter"></i> Фильтр</span></a>
                </h4>
                <span style="display:inline-block; float:right;">
                    @Html.RadioButton("FilterMode", "Fact", true) <span>Фактические</span>@Html.Raw("&nbsp;")
                    @Html.RadioButton("FilterMode", "All") <span>Все</span>@Html.Raw("&nbsp;")
                </span>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="col-lg-12 form-inline" style="margin-top:2px; margin-bottom:10px;">
                        <div class="input-group" style="width:300px; margin:0 auto">
                            <span class="input-group-addon addonbtn" title="Очистить дату" id="DateClear"><i class="fa fa-calendar"></i></span>
                            @Html.TextBox("StartDate", null,
                                                new
                                                {
                                                    @style = "width:160px; text-align:center;",
                                                    @type = "text",
                                                    @placeholder = "Начало",
                                                    @class = "form-control submitcontrol",
                                                    @title = "Дата начала",
                                                    @data_val = "true"
                                                })

                            <span class="input-group-addon" style="border-left: 0; border-right: 0;"><i class="fa fa-link"></i></span>
                            @Html.DropDownList("RoleSearchString",
                                                        (IEnumerable<SelectListItem>)ViewData["Roles"], "-Роль-",
                                                        htmlAttributes: new
                                                        {
                                                            @class = "form-control submitcontrol",
                                                            @style = "width:260px;"
                                                        })
                            <div class="input-group-addon addonbtn" id="visfilterclear" title="Очистить условия фильтрации">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </div>
                        </div>
                    </div>

                    @Html.Hidden("VisitorId")
                    @Html.Hidden("EventId")
                    @Html.Hidden("ExerciseId")

                    <div class="col-lg-12 form-inline" style="margin-top:0; margin-bottom:2px; padding:0 !important">
                        <div class="input-group" style="width:600px; margin:0 auto; padding:0;">

                            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                            <input type="text" name="VisitorLabel" id="VisitorLabel"
                                   class="form-control submitcontrol"
                                   readonly
                                   placeholder="Посетитель..."
                                   title="Щелкните для сброса"
                                   onclick="VisitorClear()"
                                   style="margin:0; cursor:pointer; width:180px;"
                                   value="@ViewData["VisitorId"]" />

                            <span class="input-group-addon addonbtn" style="border-left: 0; border-right: 0;">
                                <a id="VisitorLink" class="pModal" title="Выбор посетителя" style="margin:0;" href='@Url.Action("ShowModalPersons", "Modal", new { field = "VisitorId" })'>
                                    <i class="fa fa-user-circle"></i>
                                </a>
                            </span>

                            <input type="text" name="EventLabel" id="EventLabel"
                                   class="form-control submitcontrol"
                                   readonly
                                   placeholder="Мероприятие..."
                                   title="Щелкните для сброса"
                                   onclick="EventClear()"
                                   style="margin:0; cursor:pointer; width:180px;"
                                   value="@ViewData["EventName"]" />

                            <span class="input-group-addon addonbtn" style="border-left: 0; border-right: 0;">
                                <a id="EventLink" class="pModal" title="Выбор мероприятия" style="margin:0;" href='@Url.Action("ShowModalEvents", "Modal")'>
                                    <i class="fa fa-institution"></i>
                                </a>
                            </span>

                            <input type="text" name="ExLabel" id="ExLabel"
                                   class="form-control submitcontrol"
                                   readonly
                                   placeholder="Занятие..."
                                   title="Щелкните для сброса"
                                   onclick="ExClear()"
                                   style="margin:0; cursor:pointer; width:180px;"
                                   value="@ViewData["ExName"]" />

                            <span class="input-group-addon addonbtn">
                                <a id="ExLink" class="pModal" title="Выбор занятия" style="margin:0;" href='@Url.Action("ShowModalExercises", "Modal")'>
                                    <i class="fa fa-bell"></i>
                                </a>
                            </span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div id="updateV" style="min-width:770px;">
    @Html.Action("AllVisitsPartial", "Visits", new { @SearchString = "", @RoleSearchString = "" })
</div>

<a href="#" class="scrollup1">Наверх</a>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/toparrow.js"></script>
    <script src="~/Scripts/PersonCard.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#SearchString').focus();
            $('#loadingImg').hide();
        });

        $('body').click(function () {
            $('#resultMessage').fadeOut(1000,
                function () {
                    $('#MessageOk').html('');
                    $('#MessageError').html('');
                    $('#resultMessage').fadeIn(1000)
                });
        });

        $('body').on('click', '#visfilterclear', function (event) {
            $('#visitform').trigger('reset');
            $('#VisitorId').val(null);
            $('#EventId').val(null);
            $('#ExerciseId').val(null);
            $('#visitform').submit();
            $('#blinkicon').removeClass('blink');
        });

    </script>

    <script type="text/javascript">
        $(document).ajaxComplete(function () {

            $('i[id$="Arrow"]').css("visibility", "hidden");

            //Отображаем значки сортировки
            if ($('#SortColumn').text() != '') {
                var sortcolumnname = $('#SortColumn').text();
                var sortcontrol = $('#' + sortcolumnname);
                if (sortcontrol != null) {
                    if (sortcontrol.attr('href').indexOf('desc') != -1) {
                        $('#' + sortcolumnname + 'Arrow').removeClass().addClass('glyphicon glyphicon-triangle-top').css("visibility", "visible")
                    }
                    else {
                        $('#' + sortcolumnname + 'Arrow').removeClass().addClass('glyphicon glyphicon-triangle-bottom').css("visibility", "visible")
                    }
                }
            }
        });
    </script>

    @*Блок скриптов для работы с DateTimePicker*@
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">

        $.datetimepicker.setLocale('ru');

        // <![CDATA[
        jQuery(function () {
            jQuery('#StartDate').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                onShow: function (ct) {
                    this.setOptions({

                    })
                },
                timepicker: false
            });
        });
        // ]]>

    </script>

    <script type="text/javascript">
        $(function () {
            $('#loadingImg').hide();


            $.ajaxSetup({ cache: false });

            $(".pModal").click(function (e) {
                e.preventDefault();

                this.href = this.href.split('?')[0];

                if ($(this).attr('id') == 'VisitorLink') {
                    var _roleid = $('#RoleSearchString').val();
                    var _eventid = $('#EventId').val();
                    var _exid = $('#ExerciseId').val();
                    var _startdate = $("#StartDate").val();
                    this.href += "?field=VisitorId" + "&_roleid=" + _roleid + "&_eventid=" + _eventid + "&_exid=" + _exid + "&_startdate=" + _startdate;
                }

                if ($(this).attr('id') == 'EventLink') {
                    var _visitorid = $("#VisitorId").val();
                    var _exid = $('#ExerciseId').val();
                    var _startdate = $("#StartDate").val();
                    this.href += "?field=EventId" + "&_visitorid=" + _visitorid + "&_exid=" + _exid + "&_startdate=" + _startdate;
                }

                if ($(this).attr('id') == 'ExLink') {
                    var _startdate = $("#StartDate").val();
                    var _visitorid = $("#VisitorId").val();
                    var _eventid = $('#EventId').val();
                    this.href += "?field=ExerciseId" + "&_startdate=" + _startdate + "&_visitorid=" + _visitorid + "&_eventid=" + _eventid;
                }

                // alert(this.href);

                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
    </script>

    <script type="text/javascript">
        $('body').click(function () {
            $('#resultMessage').fadeOut(1000,
                function () {
                    $('#MessageOk').html('');
                    $('#MessageError').html('');
                    $('#resultMessage').fadeIn(1000)
                });
        });

        //Скрипт очистки полей формы и сброса параметров фильтрации
        $('body').on('click', '#visfilterclear', function (event) {
            $('#visitform').trigger('reset');

            $('#VisitorId').val(null);
            $('#EventId').val(null);
            $('#ExerciseId').val(null);

            $('#visitform').submit();
        });

        $('body').on('click', '#DateClear', function (event) {
            $('#StartDate').val('');
            $('#visitform').submit();
        });

        $('body').on('change', '#FilterMode', function (event) {
            $('#visitform').submit();
        });
    </script>

    <script type="text/javascript">
        //Скрипт очистки значений необязательных полей

        function VisitorClear() {
            $('#VisitorLabel').val('');
            $('#VisitorId').val(null);
            $("#visitform").submit();
        }

        function EventClear() {
            $('#EventLabel').val('');
            $('#EventId').val(null);
            $("#visitform").submit();
        }

        function ExClear() {
            $('#ExLabel').val('');
            $('#ExerciseId').val(null);
            $("#visitform").submit();
        }
    </script>

    <script type="text/javascript">
        $(".submitcontrol").bind('change', function () {
            $("#visitform").submit();
        });
    </script>

    <script>
        //Скрипт автофильтрации
        $('body').on('dblclick', '.autofilter', function (elem) {
            switch ($(this).data('fparam')) {
                case 'person':
                    $('#VisitorId').val($(this).data('personid'));
                    $('#VisitorLabel').val($(this).data('personfio'));
                    break;
                case 'ex':
                    $('#ExerciseId').val($(this).data('exid'));
                    $('#ExLabel').val($(this).data('exname'));
                    break;
                case 'date':
                    $('#StartDate').val($(this).data('date'));
                    break;
                case 'event':
                    $('#EventId').val($(this).data('eventid'));
                    $('#EventLabel').val($(this).data('eventname'));
                    break;
                case 'role':
                    $('#RoleSearchString').val($(this).data('roleid'));
                    break;
                default:
                    return;
            }
            $('#visitform').submit();
            $('#blinkicon').addClass('blink');
        });
    </script>

}