@model Sunny_House.Models.CommentViewModel


@{
    ViewBag.Title = "Отказ";
}
<link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />

<h2>Отказ от участия в мероприятии</h2>

<div class="row">
    <div class="col-md-6">
        <p class="text-danger">  @TempData["MessageError"]</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Добавление отзыва</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("Rating", "1") @*Оценка по умолчанию для корректной работы метода*@
        <div class="form-group">
            @Html.LabelFor(model => model.SourceName, "Источник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.SourceId)
                @Html.HiddenFor(model => model.SourceName)
                @Html.EditorFor(model => model.SourceName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.SourceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, "Мероприятие", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.EventId)
                @Html.HiddenFor(model => model.EventName)
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Date)
                <input type="text" value="@Model.Date.ToString("dd/MM/yyyy HH:mm")" class="form-control" disabled />
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label id="TextLabel" class="control-label  col-md-2">Отзыв <span id="charNum" style="font-size:0.8em;">(4000)</span></label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = 10, @onkeyup = "DisplayCount(this);", @onchange = "DisplayCount(this);" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignPersonId, "Подпись", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SignPersonId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SignPersonId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" title="Сохранить отзыв" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i> Сохранить</button>
            </div>
        </div>
    </div>
}
<div>
    <a class="btn btn-default" href='@Url.Action("ResShowOfEvent", "Reserves", new { EventId = @Request.QueryString["EventId"] })'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#Text').focus();
        });
    </script>
    @*Блок скриптов для работы с DateTimePicker*@
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">

        $.datetimepicker.setLocale('ru');

        // <![CDATA[
        jQuery(function () {
            jQuery('#Date').datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                timepicker: false
            });
        });
        // ]]>

        $.validator.methods.date = function (value, element) {
            if (value) {
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                } catch (ex) {
                    return false;
                }
            }
            return true;
        };
    </script>

    <script type="text/javascript">
        //Скрипт отображения количества оставшихся символов при вводе отзыва

        $(function () {
            var MaxCount = 4000;
            var LeftCount = MaxCount - $("#Text").val().length;
            $("#charNum").text('(' + LeftCount + ')');
        });

        function DisplayCount(elem) {
            var MaxCount = 4000;
            var LeftCount = MaxCount - $(elem).val().length;
            if ($(elem).val().length > MaxCount) {
                $(elem).val($(elem).val().substr(0, MaxCount));
            } else {
                $("#charNum").text('(' + LeftCount + ')');
            }
        }
    </script>
}