@{
    ViewBag.Title = "Бронирования - Список";
}

<h2><i class="fa fa-user-circle"></i>&nbsp;@ViewData["PersonFIO"]</h2>
<h4>Список бронирований</h4>

<div class="row">
    <div class="col-md-6">
        <p class="text-success"> @TempData["MessageOk"]</p>
        <p class="text-danger">  @TempData["MessageError"]</p>
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-6">
        <a class="btn btn-default" style="margin:2px 2px;" title="Добавить бронь" href='@Url.Action("ResCreate", "Reserves", new {PersonId = Request.QueryString["PersonId"] })'><span class="glyphicon glyphicon-plus"></span> Бронь</a>
        <a class="btn btn-default" style="margin:2px 2px;" title="Добавить в список потенциальных клиентов" href='@Url.Action("PCCreate", "PotentialClient", new { PersonId = Request.QueryString["PersonId"] })'><span class="glyphicon glyphicon-plus"></span> Потенциальный клиент</a>
    </div>
</div>

<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <span id="col1" class="glyphicon glyphicon-triangle-top"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Бронирование
                    </a>
                </span>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Action("PTReserve4Person", "Reserves", new { PersonId = Request.QueryString["PersonId"].ToString() })
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <span id="col2" class="glyphicon glyphicon-triangle-bottom"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Потенциальные клиенты
                    </a>
                </span>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Action("PTPotential4Person", "PotentialClient", new { PersonId = Request.QueryString["PersonId"].ToString() })
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-default" href='@Url.Action("ShowPersons", "Home", new { PersonId = Request.QueryString["PersonId"]})'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        //Скрипт изменения значка раскрытия панели аккордеона
        $(document).ready(function () {

            $("#accordion .panel-collapse").removeClass('in');
            var col_id = localStorage.in_collapse;
            $('#' + col_id).addClass("in");

            $(".panel-collapse").on("hide.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-top").addClass("glyphicon glyphicon-triangle-bottom");
            });
            $(".panel-collapse").on("show.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-bottom").addClass("glyphicon glyphicon-triangle-top");
                localStorage.in_collapse = $(this).attr('id');
            });
        });
    </script>

}


