@model IEnumerable<Sunny_House.Models.Reserve>

@{
    ViewBag.Title = "ResShowAll";
}

<h2>ResShowAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonRole.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonRole.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReserveId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReserveId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReserveId })
        </td>
    </tr>
}

</table>
