@{
    ViewBag.Title = "Информация о платежах";
}

<h2>@ViewBag.PersonName</h2>
<h3>Реестр платежей</h3>

<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span id="col1" class="glyphicon glyphicon-collapse-up"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <strong>Платежи персоны</strong>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Action("PaymentsPersonAsPayer", "Modal", new { PersonId = @ViewBag.PersonId}) 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span id="col2" class="glyphicon glyphicon-collapse-down"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <strong>Платежи по персоне </strong>
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Action("PaymentsPersonAsClient", "Modal", new { PersonId = @ViewBag.PersonId })
                </div>
            </div>
        </div>
    </div>
    <p>
       <br />
        <a class="btn btn-default" href='@Url.Action("ShowPersons", "Home", new {@PersonId = @Request.Params["PersonId"] })'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
    <p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#collapse1").on("hide.bs.collapse", function () {
                $("#col1").removeClass("glyphicon glyphicon-collapse-up");
                $("#col1").addClass("glyphicon glyphicon-collapse-down");
            });
            $("#collapse1").on("show.bs.collapse", function () {
                $("#col1").removeClass("glyphicon glyphicon-collapse-down");
                $("#col1").addClass("glyphicon glyphicon-collapse-up");
            });

            $("#collapse2").on("hide.bs.collapse", function () {
                $("#col2").removeClass("glyphicon glyphicon-collapse-up");
                $("#col2").addClass("glyphicon glyphicon-collapse-down");
            });
            $("#collapse2").on("show.bs.collapse", function () {
                $("#col2").removeClass("glyphicon glyphicon-collapse-down");
                $("#col2").addClass("glyphicon glyphicon-collapse-up");
            });
        });
    </script>
}