@{
    ViewBag.Title = "Информация о платежах";
}

<h2>@ViewBag.PersonName</h2>
<h3>Реестр платежей</h3>

<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <span id="col1" class="glyphicon glyphicon-triangle-top"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Платежи персоны
                    </a>
                </span>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Action("PaymentsPersonAsPayer", "Modal", new { PersonId = @ViewBag.PersonId}) 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <span id="col2" class="glyphicon glyphicon-triangle-bottom"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Платежи по персоне  
                    </a>
                </span>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Action("PaymentsPersonAsClient", "Modal", new { PersonId = @ViewBag.PersonId })
                </div>
            </div>
        </div>
    </div>
    <p>
       <br />
        <a class="btn btn-default" href='@Url.Action("ShowPersons", "Home", new {@PersonId = @Request.Params["PersonId"] })'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a>
    <p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        //Скрипт изменения значка раскрытия панели аккордеона
        $(document).ready(function () {
            $(".panel-collapse").on("hide.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-top").addClass("glyphicon glyphicon-triangle-bottom");
            });
            $(".panel-collapse").on("show.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-bottom").addClass("glyphicon glyphicon-triangle-top");
            });
        });
    </script>
}