@model IEnumerable<Sunny_House.Models.STask>

@{
    ViewBag.Title = "Задачи";
}

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<h2>Список задач</h2>

<ul class="nav nav-tabs">
    @* Вкладки ---------------------------------------------------------------- *@
    <li class="active"><a data-toggle="tab" href="#grouplist"><strong>Задачи по срокам</strong></a></li>
    <li><a data-toggle="tab" href="#alllist"><strong>Все задачи</strong></a></li>
</ul>
<div class="tab-content">

    @* Вкладка сгрупированных задач ------------------------------------------- *@
    <div id="grouplist" class="tab-pane fade in active">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-top"></span>
                        <a data-toggle="collapse" href="#overdue">
                            Просроченные
                        </a>
                    </span>
                </div>
                <div id="overdue" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="overdue">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "overdue" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#today">
                            Сегодня
                        </a>
                    </span>
                </div>
                <div id="today" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="today">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "today" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#tomorrow">
                            Завтра
                        </a>
                    </span>
                </div>
                <div id="tomorrow" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="tommorow">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "tomorrow" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#nextseven">
                            Следующие 7 дней
                        </a>
                    </span>
                </div>
                <div id="nextseven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="nextseven">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "nextseven" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#later">
                            Позже
                        </a>
                    </span>
                </div>
                <div id="later" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="later">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "later" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#withoutdate">
                            Без срока
                        </a>
                    </span>
                </div>
                <div id="withoutdate" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="withoutdate">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "withoutdate" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span id="col1" class="glyphicon glyphicon-triangle-bottom"></span>
                        <a data-toggle="collapse" href="#completed">
                            Выполненные
                        </a>
                    </span>
                </div>
                <div id="completed" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="completed">
                            @Html.Action("TasksGroupShow", "Tasks", new { mode = "completed" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Вкладка со списком всех задач------------------------------------------- *@
    <div id="alllist" class="tab-pane fade">
        <p>
            @Html.ActionLink("Добавить задачу", "TaskCreate")
        </p>
        <table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskComplete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.TaskComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td style="text-align:center; width:90px; min-width:90px;">
                        <a class="btn btn-default btn-sm" title="Редактирование задачи" href='@Url.Action("TaskEdit", "Tasks", new { id = item.STaskId })'><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-default btn-sm" title="Удаление задачи" href='@Url.Action("TaskDelete", "Tasks", new { id = item.STaskId })'><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //Скрипт изменения значка раскрытия панели аккордеона
        $(document).ready(function () {
            $(".panel-collapse").on("hide.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-top").addClass("glyphicon glyphicon-triangle-bottom");
            });
            $(".panel-collapse").on("show.bs.collapse", function () {
                $(this).parent().find(".panel-title span").removeClass("glyphicon glyphicon-triangle-bottom").addClass("glyphicon glyphicon-triangle-top");
            });

            //Скрипт сохранения активной панели
            $('body').on('click', 'a[data-toggle="tab"]', function (e) {
                //Сохраняем значение ссылки активной панели
                localStorage.setItem('TaskTab', $(this).attr('href'));
            });

            //Открываем сохраненную вкладку если запись существует
            var TaskTab = localStorage.getItem('TaskTab');
            if (TaskTab) {
                $('a[href="' + TaskTab + '"]').click();
            }

            $('#loadingImg').hide();

        });
    </script>

}

