@model Sunny_House.Models.MoreInfoesViewModel

<style type="text/css">
    span.inf {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
    }

    span.badge {
        padding: 4px 8px;
        background-color: #5cb85c;
    }
</style>

<div class="modal-content ui-front">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h3><i class="fa fa-user-circle"></i> @Model.PersonFIO</h3>
    </div>

    <div class="panel-group">

        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#colnote">Информация о персоне</a>
                    <span style="display:inline-block; float:right;">
                        <a class="btn btn-default btn-sm hidebtn"
                           title="Добавить отзыв"
                           style="margin-top:-6px;"
                           target="_self"
                           href='@Url.Action("CommentCreate", "Comments", new { SignPersonId = Model.PersonId })'>
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                        <a class="btn btn-default btn-sm hidebtn"
                           title="Редактировать"
                           style="margin-top:-6px;"
                           target="_self"
                           href='@Url.Action("PersonEdit", "Home", new { PersonId = Model.PersonId })'>
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="colnote" class="panel-collapse collapse in">
                <div class="panel-body">
                    @if (Model.DateOfBirth != null)
                    {
                        <span class="inf">Дата рождения: <span class="badge">@Convert.ToDateTime(Model.DateOfBirth).ToString("dd'/'MM'/'yyyy")г.</span></span>
                        if (Model.PersonAge != 0)
                        {
                            <span class="inf">Возраст: <span class="badge">@Model.PersonAge</span></span>
                        }
                        else
                        {
                            <span class="inf">Возраст: <span class="badge">@Model.PersonMonth мес.</span></span>
                        }

                    }
                    <span class="inf">Пол: <span class="badge">@Model.Sex</span></span><br />
                    <span class="inf">Примечание:</span>
                    <div class="input-group" style="width:100%;">
                        @Html.TextAreaFor(model => model.PersonNote, new
                   {
                       @class = "form-control",
                       rows = 2,
                       data_personid = Model.PersonId,
                       style = "max-width:100%; width:100%; resize:vertical;",
                       id = "PersonNote"
                   })
                        <span class="input-group-addon btn btn-default glyphicon glyphicon-floppy-save" onclick="saveNote()" title="Сохранить"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#colrel">Связанные персоны</a>
                    <span style="display:inline-block; float:right;">
                        <a class="btn btn-default btn-sm hidebtn"
                           title="Список персон"
                           style="margin-top:-6px;"
                           target="_self"
                           href='@Url.Action("ShowPersons", "Home", new { PersonId = Model.PersonId })'>
                            <i class="glyphicon glyphicon-new-window"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="colrel" class="panel-collapse collapse in">
                <div class="panel-body" style="padding:1px 20px">
                    @if (Model.RelPerson.Count() == 0)
                    {
                        <div style="margin-top:30px;">
                            <p class="text-center text-danger" style="margin-top:12px;">Связанные персоны не найдены<p>
                        </div>
                    }

                    <div style="margin-top:30px;">

                        @foreach (var item in Model.RelPerson)
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#@item.PersonId">
                                                <span>@Html.DisplayFor(modelItem => item.PersonFIO)</span>

                                                <span style="display:block; float:right;">@Html.DisplayFor(modelItem => item.RelationName)</span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="@item.PersonId" data-havecomm="@item.HaveComm" data-personid="@item.PersonId" class="panel-collapse collapse comm">
                                        <div class="panel-body" style="padding:1px 15px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#colcomments">Отзывы</a>
                    <span style="display:inline-block; float:right;">
                        <a class="btn btn-default btn-sm hidebtn"
                           title="Все отзывы..."
                           style="margin-top:-6px;"
                           target="_self"
                           href='@Url.Action("CommentShow", "Comments", new { SignPersonId = Model.PersonId, Mode = "RelComment" })'>
                            <i class="glyphicon glyphicon-new-window"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="colcomments" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
                        <tr>
                            <th style="width:140px;"></th>
                            <th>Отзыв</th>
                        </tr>
                        @if (Model.CommentList.Count() == 0)
                        {
                            <tr>
                                <td colspan="2">
                                    <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.CommentList)
                        {
                            <tr>
                                <td style="text-align:center; vertical-align:top !important;">
                                    @if (!string.IsNullOrWhiteSpace(item.SignPersonFIO))
                                    {
                                        <span style="padding:10px 0; font-weight:bold">@item.SignPersonFIO</span><br />
                                    }
                                    <span>@item.Date</span>
                                </td>
                                <td>
                                    @item.Text
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#colvisit">Посещения</a>
                    <span style="display:inline-block; float:right;">
                        <a class="btn btn-default btn-sm hidebtn"
                           title="Все посещения..."
                           style="margin-top:-6px;"
                           target="_self"
                           href='@Url.Action("VisShow", "Visits", new { VisitorId = Model.PersonId })'>
                            <i class="glyphicon glyphicon-new-window"></i>
                        </a>
                    </span>
                </h4>
            </div>
            <div id="colvisit" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-responsive table-hover ReestrTable">
                        <tr>
                            <th>Занятие</th>
                            <th>Дата</th>
                            <th>Мероприятие</th>
                            <th style="min-width:150px;">Примечание</th>
                        </tr>
                        @if (Model.VisitsList.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">
                                    <p class="text-center text-danger" style="margin-top:12px;">Записи, соответствующие критериям поиска, не найдены<p>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.VisitsList)
                        {
                            var css = string.Empty;
                            if (!item.FactVisit)
                            {
                                css = "background-color:#fdccc6;";
                            }
                            <tr style="@css">
                                <td style="vertical-align:top !important">
                                    @Html.ActionLink(@item.ExName, "ExShow", "Exercises", new { ExerciseId = @item.ExerciseId }, new { target = "_self" })
                                </td>
                                <td style="text-align:center; vertical-align:top !important">
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td style="max-width:100px; vertical-align:top !important">
                                    @Html.ActionLink(@item.EventName, "ResShowOfEvent", "Reserves", new { EventId = @item.EventId }, new { target = "_self" })
                                </td>
                                <td class="breakWord" style="max-width:300px; vertical-align:top !important; text-align:justify;">
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
